/* Container principal do carousel */
.carousel {
  width: 100%;
  overflow: hidden;
  cursor: grab;
  padding: 0 10px;
  box-sizing: border-box;
}

.carousel__shadow {
  position: absolute;
  width: 5rem;
  height: 100%;
  top: 0;
  right: 0;
  left: auto;
  pointer-events: none;
  z-index: 99;
  background: linear-gradient(to left, rgba(0,0,0,0.15), transparent);
}

/* Slide individual */
.carousel__item {
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Imagem do slide */
.carousel__img {
  width: 100%;
}

.carousel__img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.carousel__item h3 {
  font-size: 1.5rem;
  line-height: 1.6875rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.carousel__item p {
  font-size: 1.5rem;
  line-height: 1.6875rem;
  font-weight: 400;
  margin: 0;
}