.footer {
    background-color: #3F2305;
    margin-top: 4.375rem;
    padding: 3rem 0rem;
    color: #fff;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.footer__lists-wrapper {
    display: flex;
   justify-content: space-between;
   width: 40%;

}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__list--links {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer__list--links li {
    margin-bottom: 1.875rem;
}

.footer__list--links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.6875rem;
    transition: color 0.3s ease-in-out;
}

.footer__list--links a:hover {
    text-decoration: underline;
    color: #E6B800;
}

/* Tablet e menor */
@media (max-width: 800px) {
    .footer__content {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }

    .footer__content--logo {
        margin-bottom: 1.5rem;
    }

    .footer__lists-wrapper {
        flex-direction: row;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .footer__list--links a {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .footer__lists-wrapper {
        flex-direction: column;
    }
}